{{define "body"}}
<div class="parent">
  <aside class="aside-container">
    <h1>The Great Divide Mountain Bike Route </h1>
    <article>
      <p>For the next 30 days I will be riding my bicycle with two friends from Canada to Mexico.</p>
      <p>You can see the planned route in blue and the completed part in red on the map. I am carrying a GPS tracker that will update the map with my live location and all other stats every 10 seconds. This GPS tracker can also send and receive messages, further down is a way of sending me messages either through space via satellites directly to the tracker or just simply through copper and fiber optic to this website.</p>
    </article>
    <section>
      <h2>Planned Route</h2>
      <div></div>
    </section>
    <section>
      <h2>Actual Ride</h2>
      <div></div>
    </section>
  </aside>
  <div class="map-container">
    <div id="mapid" class="map"></div>
  </div>
  <div class="messages-container">
    <div>Test</div>
    <div>Test</div>
    <div>Test</div>
  </div>
  <div class="days-container">
    <div>Test</div>
    <div>Test</div>
    <div>Test</div>
  </div>
</div>


{{end}}

