{{define "body"}}
<div class="parent">
  <aside class="aside-container">
    <h1>The Great Divide Mountain Bike Route </h1>
    <article class="mb-20">
      <p>For the next 30 days I will be riding my bicycle with two friends from Canada to Mexico.</p>
      <p>You can see the planned route in blue and the completed part in red on the map. I am carrying a GPS tracker
        that will update the map with my live location and all other stats every 10 seconds. This GPS tracker can also
        send and receive messages, further down is a way of sending me messages either through space via satellites
        directly to the tracker or just simply through copper and fiber optic to this website.</p>
    </article>
    <section class="mb-20">
      <h2>Planned Route</h2>
      <article class="block col-2">
        <section class="row">
          <div class="col">3,987 km<small class="label">Distance</small></div>
        </section>
        <section class="row">
          <div class="col">44,009 m<small class="label">Elevation Gain</small></div>
          <div class="col">43,413 m<small class="label">Elevation Loss</small></div>
        </section>
        <section class="row">
          <div class="col">13.8 %<small class="label">Max Grade</small></div>
          <div class="col">-27.4 %<small class="label">Min Grade</small></div>
        </section>
        <section class="row">
          <div class="col">39 %<small class="label">Paved</small></div>
          <div class="col">61 %<small class="label">Unpaved</small></div>
        </section>
        <section class="row">
          <div class="col">30 days<small class="label">Estimated Duration</small></div>
        </section>
        <section class="row">
          <div class="col">Sep 9th 2024<small class="label">Start Date</small></div>
          <div class="col">Oct 9th 2024<small class="label">End Date</small></div>
        </section>
      </article>
    </section>
    <section>
      <h2>Actual Ride</h2>
      <article class="block col-2">
        <section class="row">
          <div class="col">
            {{ if .Ride.IsMoving }}
              Yes
            {{ else }}
              No
            {{ end }}
            <small class="label">Currently Moving</small></div>
          <div class="col">{{ .Ride.LastPing }} minute(s) ago<small class="label">Last Signal</small></div>
        </section>
        <section class="row">
          <div class="col">{{ .Ride.Distance }} km<small class="label">Distance</small></div>
          <div class="col">{{ .Ride.Progress }} %<small class="label">Progress</small></div>
        </section>
        <section class="row">
          <div class="col">{{ .Ride.ElevationGain }} m<small class="label">Elevation Gain</small></div>
          <div class="col">{{ .Ride.ElevationLoss }} m<small class="label">Elevation Loss</small></div>
        </section>
        <section class="row">
          <div class="col">{{ .Ride.MovingTime }}<small class="label">Moving Time</small></div>
        </section>
        <section class="row">
          <div class="col">{{ .Ride.ElapsedDays }} days<small class="label">Elapsed Days</small></div>
          <div class="col">{{ .Ride.RemainingDays }} days<small class="label">Remaining Days</small></div>
        </section>
        <section class="row">
          <div class="col">{{ .Ride.CurrentDate}} <small class="label">Current Date</small></div>
        </section>
      </article>
    </section>
  </aside>
  <div class="map-container">
    <div id="mapid" class="map"></div>
  </div>
  <div class="messages-container">
    <h2>Messages</h2>
    <form action="/messages" method="post">
      <label for="message">Message:</label>
      <input type="text" id="message" name="message"><br>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="sentToGarmin">Sent to Garmin:</label>
      <input type="checkbox" id="sentToGarmin" name="sentToGarmin" value="true"><br>
      <input type="submit" value="Submit">
    </form>
    <ul>
      {{ range .Messages }}
      <li class="message">
        <p>{{ .Name }} wrote <small>{{ formatTimeStamp .TimeStamp }}</small></p>
        <p>{{ .Message }}</p>
        <p></p>
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="days-container">
    <div>Test</div>
    <div>Test</div>
    <div>Test</div>
  </div>
</div>


{{end}}
